/**
 * Simple Pages
 */
@include media-breakpoint-up(sm) {
	.page__header,
	.page__copy {
		font-size: 1.125em;
	}
}

.traeger {
    position: relative;
    max-width: 350px;
    float: right;
    margin-left: 2rem;
    margin-bottom: 1.5rem;
    background-color: $color-action-highlight-bg;
    color: $color-dark-body-text;
    padding: 2rem;
}

@include media-breakpoint-down(sm) {
    .traeger {
        float: none;
        margin-left: 0;
    }
}